# =========================
# Hugo 生成目录
# =========================
/public/
/resources/_gen/

# =========================
# 本地环境 & 编辑器
# =========================
.DS_Store
Thumbs.db

.vscode/
.idea/

# =========================
# 临时文件
# =========================
*.log
*.tmp
*.swp
*.swo

# =========================
# Hugo 缓存
# =========================
.hugo_build.lock
