body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -2;

  background-size: cover;
  background-position: center;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;

  background: rgba(40,50,65,.45);
}
